@model ExtractionStore.Models.File

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm("Create", "File", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            @*button to select file after opening your file viewer*@
            <div class="form-group">
                <h4>
                    @Html.Label("Select File", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" id="Select File" name="upload" />
                    </div>
                </h4>
            </div>
            @*error message for non PDFs*@
            <div>
                <h4>
                    &emsp;&emsp;&emsp;&emsp;@Html.ValidationMessageFor(m => m.ContentType)
                </h4>
            </div>
            @*upload button*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Upload" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
